<table>
  <tr>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Passengers</th>
  </tr>
  <% @flights.each do |flight| %>
    <tr id= "flight-<%=flight.id%>">
      <td>
        <p align = "center">
            <%= flight.airline %>
        </p>
      </td>
      <td>
        <p align = "center">
            <%= flight.name %>
        </p>
      </td>
      <td>
        <p align = "center">
            <% flight.passengers.each do |passenger| %>
            <%= passenger.name %><br>
            <% end %>
        </p>
      </td>
    </tr>
      <% end %>
      </table>